@import '../../scss/next-toolbox.scss';

.quiz {
  margin: 0 $base-spacing;

  .quiz__introduction {
    text-align: center;
  }

  .quiz__title {
    color: $primary-color;
    font-size: $font-large;
    font-weight: $weight-bold;
    text-transform: uppercase;
  }

  .quiz__subtitle {
    font-family: $secondary-font-family;
    font-size: $font-superhero;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: $base-spacing;
  }

  .quiz__description {
    margin-bottom: $base-spacing * 2;
  }

  .question {
    margin: $base-spacing 0;

    .question__title {
      color: $white;
      font-family: $secondary-font-family;
      font-size: $font-larger;
      font-weight: normal;
      letter-spacing: 2px;

      @include media($medium) {
        font-size: $font-hero;
        padding: $base-spacing;
      }
    }
  }

  .question__choices {
    margin-top: $base-spacing;
    display: flex;
    flex-wrap: wrap;
  }

  .answer {
    margin-bottom: $base-spacing;
    font-weight: $weight-bold;
    text-align: center;
    text-decoration: none;
    width: 100%;
    outline: 0;

    @include media($medium) {
      flex: 0 0 33%;
      padding: 0 $half-spacing $half-spacing $half-spacing;
    }

    &:hover {
      cursor: pointer;
    }

    .-active {
      border-color: $blue;
      border-width: 2px;
    }
  }

  .conclusion {
    margin-bottom: $base-spacing;

    .conclusion__item {
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;

      @include media($tablet) {
        &.-one-third {
          width: 33%;
        }

        &.-two-thirds {
          width: 66%;
        }
      }

      button {
        width: 100%;
      }
    }
  }
}
