@import '../../scss/next-toolbox';

.call-to-action {
  &.-sticky {
    bottom: -1px;
    position: sticky;
    z-index: $sticky-cta-zindex;

    @include media($medium) {
      display: none;
    }

    > .button {
      width: 100%;
    }
  }

  .cta__tagline {
    font-weight: bold;
  }

  .cta__impact {
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .cta__impact_number {
    display: block;
    font-family: $secondary-font-family;
    font-size: $font-hero;
    font-weight: normal;
  }

  .cta__message {
    font-size: $font-regular;
    font-style: italic;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
  }

  &.light {
    color: $dark-gray !important;
  }

  &.transparent {
    color: $dark-gray !important;

    .cta__tagline {
      font-size: $font-medium;
    }
  }

  &.dark {
    color: $white !important;

    .cta__tagline {
      color: $primary-color;
    }

    .cta__message {
      color: $white !important;
    }
  }

  &.legacy {
    .cta__message {
      font-weight: bold;
      font-style: normal;
      font-size: $font-medium;
    }
  }
}
