@import '../../scss/next-toolbox.scss';

.dashboard {
  width: 100%;
  background: $white;
  display: flex;
  flex-wrap: wrap;
  padding: $half-spacing 0;

  h1 {
    color: $black;
    font-family: $secondary-font-family;
    font-weight: $weight-normal;
    font-size: $font-hero;
    line-height: $font-hero;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  h2 {
    color: $black;
    font-size: $font-regular;
    font-family: $primary-font-family;
    margin-bottom: 0;
  }

  p {
    color: $black;
    font-size: $font-smaller;
    font-family: $primary-font-family;
  }

  span {
    color: $med-gray;
    font-size: $font-regular;
    font-family: $primary-font-family;
    font-weight: $weight-sbold;
    text-transform: uppercase;
  }

  .dashboard__block {
    flex: 0 0 100%;
    padding: 0 $base-spacing;
  }

  > .dashboard__block {
    text-align: left;
    margin: $half-spacing 0;

    @include media($medium) {
      margin: 0;
    }
  }

  .dashboard__block.-quarter {
    text-align: center;

    @include media($medium) {
      flex: 0 0 25%;
      border-right: 1px solid $primary-border-color;
      text-align: left;
    }
  }

  .dashboard__block.-half {
    @include media($medium) {
      flex: 0 0 50%;
      padding-top: 4px;
    }
  }
}
