.button {
  &.-inline {
    clear: none;
  }

  &.-align-left {
    float: left;
  }

  &.-align-right {
    float: right;
  }

  &.-secondary,
  &.is-loading {
    &:focus {
      border: 0 none;
      box-shadow: none;
    }
  }
}
