@import '../../scss/next-toolbox.scss';

.affiliate-option {
  .option {
    color: $white;
  }

  .footnote {
    button {
      color: $light-gray;
      font-size: 14px;
      text-decoration:underline;
      padding: 0px;

      &:focus {
        outline: none;
      }
    }
  }

  .footnote-details {
    display: none;
    background-color: rgba(0,0,0,.7);
    border-radius: $lg-border-radius;
    padding: $half-spacing / 2;

    &.is-expanded {
      display: block;
    }
  }
}
