@import '~@dosomething/forge/scss/toolkit';

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-gray;
  width: 100%;
  min-height: 200px;
}

.placeholder.-full {
  min-height: 100vh;
}
