@import '~@dosomething/forge/scss/toolkit';
@import '../../scss/next-toolbox.scss';

.lede-banner {
  background-color: $dark-background-color;
  color: $dark-background-contrast-color;

  @include media($medium) {
    display: table;
  }

  .button {
    width: 100%;

    @include media($medium) {
      width: 50%;
    }
  }

  // @TEST 2017-05-17 lede_banner_number_of_buttons
  .button-group {
    @include clearfix;

    li {
      &:last-child {
        margin-top: $base-spacing;
      }

      @include media($medium) {
        .button {
          width: 100%;
        }
      }

      @media (min-width: 1260px) {
        float: left;
        width: 50%;

        &:first-child {
          padding-right: $half-spacing;
        }

        &:last-child {
          margin-top: 0;
          padding-left: $half-spacing;
        }
      }
    }
  }
}

.lede-banner__content {
  @include media($medium) {
    display: table-cell;
    min-height: 500px;
    width: 50%;
  }

  & > .wrapper {
    padding: $section-spacing $half-spacing;

    @include media($large) {
      padding: $section-spacing $base-spacing;
    }
  }
}

.lede-banner__image {
  background-size: cover;
  background-position: center;
  min-height: 300px;

  @include media($medium) {
    display: table-cell;
    width: 50%;
  }
}

.lede-banner__headline {
  position: relative;
}

.lede-banner__headline-title {
  background-color: $dark-background-color;
  color: $primary-color;
  font-family: $primary-font-family;
  font-size: 20px;
  padding-right: $half-spacing;
  position: absolute;
  top: -7px;
  text-transform: uppercase;

  @include media($large) {
    font-size: 28px;
    top: -$half-spacing;
  }
}

.lede-banner__headline-subtitle {
  color: $dark-background-contrast-color;
  border-top: 8px solid $primary-color;
  border-bottom: 8px solid $primary-color;
  font-family: $secondary-font-family;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 4px;
  line-height: 1.1;
  margin-bottom: 0;
  padding: $half-spacing 0;
  text-transform: uppercase;

  @include media($medium) {
    font-size: 65px;
  }
}

.lede-banner__blurb {
  font-family: $primary-font-family;
  padding: $base-spacing 0;

  strong {
    color: $primary-color;
  }
}
