@import '~@dosomething/forge/scss/toolkit';

.reportback-item > .figure__media {
  background-color: $med-gray;

  & > img {
    width: 480px; // HACK: Expand smaller images to fit in card.
  }
}

.padded {
  padding: $base-spacing / 2;
}

