@import '../../scss/next-toolbox.scss';

.reportback-item {
  font-family: $primary-font-family;

  h4 {
    color: $black;
    font-size: $font-regular;
    font-weight: $weight-bold;
  }

  p {
    color: $med-gray;
  }

  > .figure > .figure__media {
    margin-bottom: 0;
    background-color: $med-gray;

    & > img {
      width: 480px; // HACK: Expand smaller images to fit in card.
    }
  }

  .caption {
    padding: 0 $half-spacing;
  }

  .figure {
    margin-bottom: 0; // This is fixing the figures on mobile.
  }
}

.padded {
  padding: $half-spacing;
}
