@import '../../scss/next-toolbox';

.figure.-small > .figure__media {
  width: 50px;

  img { width: 100% }
}

.figure.-large > .figure__media {
  width: 200px;

  img { width: 100% }
}

.figure.-left.-center.-small {
  margin-bottom: 0;
}

.figure.-left-collapse {
  text-align: left;

  @include media($tablet) {
    > .figure__media {
      float: left;
      margin-right: gutter();
      margin-bottom: 0;
    }

    > .figure__body {
      overflow: hidden;
    }
  }
}
