@import '../../scss/next-toolbox.scss';

.notification-list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25%;
  min-width: 300px;
}

.notification {
  position: relative;
  width: 100%;
  margin: $half-spacing;

  &.-error {
    color: $white;
    background: $error-color;
  }

  .notification__content {
    padding: $half-spacing $base-spacing;
    margin-right: $half-spacing;

    p {
      color: inherit;
    }
  }

  .notification__close {
    background-color: transparent;
    border: 0 none;
    color: inherit;
    font-size: 32px;
    position: absolute;
    right: $half-spacing;
    top: $half-spacing;

    &:focus {
      outline: transparent 0 none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
