@import '../../scss/next-toolbox.scss';

$quarter-spacing: $half-spacing / 2;
$eighth-spacing: $quarter-spacing / 2;

.reaction {
  padding: $eighth-spacing $quarter-spacing;
  border: 1px solid $primary-border-color;
  border-radius: $border-radius;
  background-color: transparent;
  float: right;

  &:focus {
    outline: transparent 0 none;
  }

  .reaction__button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./heart-empty.svg');
    background-size: 100% 100%;

    &.-reacted {
      background-image: url('./heart-filled.svg');
    }

    &:hover {
      cursor: pointer;
    }
  }

  .reaction__meta {
    color: $black;
    vertical-align: top;
    font-size: 16px;
    font-weight: 900;
  }
}
