@import '../../scss/next-toolbox.scss';

.share {
  color: $white;

  &.-black {
    color: $dark-background-color;
    background: $white;
    border: 1px solid $dark-background-color;

    &:hover {
      background: $light-background-color;
    }
  }

  .social-icon {
    color: inherit;

    &:after {
      font-size: 24px;
      font-weight: 800;
      margin-left: 8px;
    }
  }
}
