@import '~@dosomething/forge/scss/toolkit';

.share {
  color: $white;

  &.-black {
    color: $black;
    background: $white;
    border: 1px solid $black;

    &:hover {
      background: $light-gray;
    }
  }

  .social-icon {
    color: inherit;

    &:after {
      font-size: 22px;
      font-weight: 800;
      margin-left: 4px;
    }
  }
}
