@import '../../scss/next-toolbox.scss';

.share {
  color: $white;
  width: 100%;

  &.-black {
    color: $dark-background-color;
    background: $white;
    border: 1px solid $dark-background-color;

    &:hover {
      background: $light-background-color;
    }
  }

  &.-icon {
    width: auto;
    background: none;
    border: none;
    color: $light-gray;

    &:hover, &:active, &:focus {
      color: $med-gray;
      cursor: pointer;
      background: none;
    }
  }

  .social-icon {
    color: inherit;

    &:after {
      font-size: 24px;
      font-weight: 800;
      margin-left: 8px;
    }
  }
}
