@import 'next-toolbox';

// Import Forge so we get our base styles.
$forge-path: "../../../node_modules/@dosomething/forge/assets/";
@import '~@dosomething/forge/scss/forge';

body, html {
  font-family: $primary-font-family;
  line-height: 1.4;
}

// Reset browser defaults so this behaves like <a>
// or <input type="button"> elements do.
button {
  background: transparent;
  border: none;
}

h1, h2, h3, p {
  color: $black;
}

.inverted {
  h1, h2, h3, p {
    color: $white;
  }
}

.spinner {
  &.-centered {
    text-align: center;
    width: 100%;
  }
}

// Utility classes.
.bordered {
  border: 1px solid $primary-border-color;
}

.clear-both {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-none {
  clear: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// TODO: Remove this.
.padded {
  padding: $half-spacing;
}

.padded-md {
  padding: $half-spacing;
}

.padded-lg {
  padding: $base-spacing;
}

.rounded {
  border-radius: $lg-border-radius;
}

.background-image-centered {
  background-position: center;
  background-size: cover;
}
