@import 'next-toolbox';

// Import Forge so we get our base styles.
$forge-path: "../../../node_modules/@dosomething/forge/assets/";
@import '~@dosomething/forge/scss/forge';

body, html {
  font-family: $primary-font-family;
  line-height: 1.4;
}

// Reset browser defaults so this behaves like <a>
// or <input type="button"> elements do.
button {
  background: transparent;
  border: none;
}

h1, h2, h3, p {
  color: $black;
}

.inverted {
  h1, h2, h3, p {
    color: $white;
  }
}

.spinner {
  &.-centered {
    text-align: center;
    width: 100%;
  }
}

// Utility classes.
// @TODO: Move over to Forge 7 soon!
.background-image-centered {
  background-position: center;
  background-size: cover;
}

.bg-white {
  background-color: $white;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bordered {
  border: 1px solid $primary-border-color;
}

.border-none {
  border: 0 none;
}

.border-top {
  border-top: 1px solid $primary-border-color;
}

.border-radius-none {
  border-radius: 0;
}

.clearfix {
  @include clearfix;
}

.clear-both {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-none {
  clear: none;
}

.flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.font-size-lg {
  font-size: $font-large;

  p {
    font-size: $font-large;
  }
}

// TODO: Remove this.
.padded {
  padding: $half-spacing;
}

.padding-md {
  padding: $half-spacing;
}

.padding-lg {
  padding: $base-spacing;
}

.padding-vertical-md {
  padding-top: $half-spacing;
  padding-bottom: $half-spacing
}

.padding-vertical-lg {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing
}

.padding-horizontal-md {
  padding-left: $half-spacing;
  padding-right: $half-spacing;
}

.padding-horizontal-lg {
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.padding-bottom-md {
  padding-bottom: $half-spacing;
}

.padding-bottom-lg {
  padding-bottom: $base-spacing;
}

.margin-md {
  margin: $half-spacing;
}

.margin-lg {
  margin: $base-spacing;
}

.margin-bottom-md {
  margin-bottom: $half-spacing;
}

.margin-bottom-lg {
  margin-bottom: $base-spacing;
}

.margin-top-md {
  margin-top: $half-spacing;
}

.margin-top-lg {
  margin-top: $base-spacing;
}

.rounded {
  border-radius: $lg-border-radius;
}

.faded {
  opacity: 0.5;
}

.default-container {
  @include media($tablet) {
    @include span(12 no-gutters);
    @include push(2);
  }
}
