@import 'next-toolbox';

// Import Forge so we get our base styles.
$forge-path: "../../../node_modules/@dosomething/forge/assets/";
@import '~@dosomething/forge/scss/forge';

body, html {
  font-family: $primary-font-family;
  line-height: 1.4;
}

// Reset browser defaults so this behaves like <a>
// or <input type="button"> elements do.
button {
  background: transparent;
  border: none;
}

h1, h2, h3, p {
  color: $black;
}

.inverted {
  h1, h2, h3, p {
    color: $white;
  }
}

.spinner {
  &.-centered {
    text-align: center;
    width: 100%;
  }
}
