@import '~@dosomething/forge/scss/toolkit';

.static-block__citation {
  margin-top: $base-spacing;

  &::before {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: $med-gray;
    margin-bottom: $base-spacing / 2;
  }
}
