@import '../../scss/next-toolbox';

.competition-block {
  .button {
    clear: both;
    margin-top: $base-spacing;
  }

  .markdown {
    @include media($large) {
      float: left;
      padding-right: $base-spacing;
      width: 66.6666666666666%;
    }
  }

  .byline {
    margin-top: $base-spacing;
  }
}

.competition-block__photo {
  margin-top: $half-spacing;

  @include media($large) {
    float: right;
    margin-top: 0;
    width: 33.3333333333333%;
  }
}

// @TEST 2017-05-17 competitions_prompt_style
.block {
  &.-colorful {
    background-color: $primary-color;
    border-radius: 4px;

    .block__title {
      @include visually_hidden();
    }

    .avatar {
      border: 3px solid $white;
    }
  }
}
