@import '../../scss/next-toolbox';

.competition-block {
  flex-direction: column-reverse;

  @include media($medium) {
    flex-direction: row;
  }

  .competition-block__content {
    &.is-confirmation > .markdown {
      margin-bottom: $base-spacing;
    }

    button {
      margin: $base-spacing 0;
    }
  }

  .competition-block__photo {
    margin-bottom: $half-spacing;

    @include media($medium) {
      margin-bottom: 0;
      margin-left: $half-spacing;
    }
  }
}
