@import '../../scss/next-toolbox';

.competition-block {
  .button {
    clear: both;
    margin-top: $base-spacing;
  }

  .markdown {
    @include media($large) {
      float: left;
      padding-right: $base-spacing;
      width: 66.6666666666666%;
    }
  }

  > .figure {
    margin-top: $base-spacing;
  }
}

.competition-block__photo {
  margin-top: $half-spacing;

  @include media($large) {
    float: right;
    margin-top: 0;
    width: 33.3333333333333%;
  }
}

.block {
  &.-colorful {
    background-color: $purple;
    border-radius: 4px;
  }
}

.competition-block {
  .-colorful & {
    color: $white;
  }
}
