@import '../../scss/next-toolbox';

.embed {
  > .wrapper {
    min-height: 100px;
    overflow: hidden;

    > a {
      display: block;
      font-weight: $weight-normal;

      &:hover {
        background: $light-background-color;
        text-decoration: none;
      }
    }
  }
}

