@import '../pitchToolbox';

.pitch-line-chart {
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  text {
    transform-origin: 50% 50%;
  }

  @include media($medium) {
    height: 50%;
  }
}
