@import '../../scss/next-toolbox';

.block-wrapper {
  @extend %block;
  margin: $half-spacing;
  overflow: hidden;

  @include media($medium) {
    width: 100%;
  }

  h2 {
    font-family: $primary-font-family;
    color: $black;
  }
}

.block-wrapper__title {
  color: $black;
  font-family: $primary-font-family;
  background-color: $primary-color;
  text-transform: uppercase;
  margin: (- $half-spacing) (- $half-spacing) $base-spacing;
  padding: $half-spacing;
}
