@import '../../scss/next-toolbox';

.block {
  @extend %block;
  margin: $half-spacing;
  width: 100%;
  overflow: hidden;
}

.block__title {
  color: $black;
  background-color: $primary-color;
  text-transform: uppercase;
  margin: (- $half-spacing) (- $half-spacing) $base-spacing;
  padding: $half-spacing;
}
