@import '../../scss/next-toolbox';

.cta {
  color: $white;
  background: $black;
  border: 1px solid $primary-border-color;
  border-radius: $lg-border-radius;

  @include media($medium) {
    width: 100%;
  }

  &.-transparent {
    background-color: transparent;
    color: $off-black;

    .cta__title {
      color: $off-black;
    }
  }

  &.-dark-bg {
    background-color: $black;
  }

  &.has-photo {
    @include media($medium) {
      display: flex;

      .cta__content, .cta__photo {
        flex: 0 0 50%;
      }
    }

    .cta__photo {
      background-size: cover;
      background-position: center center;
      display: none;

      @include media($medium) {
        display: block;
      }
    }
  }

  .cta__block {
    @include media($medium) {
      width: auto;
      margin-left: inherit;

      .has-photo & {
        margin: $base-spacing auto;
        width: 90%;
      }
    }
  }

  .cta__title {
    color: $white;
    font-size: $font-medium;
    font-weight: $weight-sbold;
  }

  .cta__message {
    color: $white;
    font-size: $font-regular;
    font-weight: $weight-normal;

    p + p {
      margin-top: $half-spacing;
    }
  }

  .cta__impact {
    color: $white;
    text-transform: uppercase;
    font-weight: $weight-bold;

    span {
      display: block;
      line-height: 1.2;
    }
  }

  .cta__impact-prefix {
    text-transform: uppercase;
  }

  .cta__impact-number {
    font-size: $font-hero;
  }
}
