@import '../../scss/next-toolbox.scss';

.action-step {
  margin-bottom: $base-spacing;

  > .flex {
    width: inherit;
    margin: 0 $base-spacing / 2;

    > .flex__cell {
      margin: $base-spacing / 2 0;
    }
  }

  h1, h2, h3, p {
    color: $black;
    font-family: $primary-font-family;
  }

  .action-step__header {
    position: relative;
    width: 100%;
    background: $dark-gray;
    text-align: center;
    text-transform: uppercase;
    padding: $base-spacing;
    overflow: hidden;

    img {
      width: 100%;
      position: absolute;
      top: 50%; left: 0;
      transform: translateY(-50%);
      filter: grayscale(100%);
    }

    span {
      position: relative;
      color: $primary-color;
      font-size: $font-large; // TODO: This needs to be the 28px one
      font-weight: $weight-bold;
      text-shadow: $text-shadow;
    }

    h1 {
      position: relative;
      color: $white;
      letter-spacing: 1.1px;
      font-family: $secondary-font-family;
      font-size: $font-gigantic; // TODO: This needs to be the 65px one
      font-weight: $weight-normal;
      text-shadow: $text-shadow;
    }
  }

  .action-step__photos {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .action-step__photo {
      padding: $base-spacing / 2;

      img {
        min-height: 200px;
      }
    }
  }

  .action-step__photos.-full {
    @include media($medium) {
      flex-direction: row;
    }
  }
}
