@import '../../scss/next-toolbox.scss';

.debugger {
  width: 100%;
  padding: $base-spacing;
  background: $dark-background-color;

  h1, p {
    color: $white;
  }

  span {
    color: $primary-color;
  }

}
