@import '~@dosomething/forge/scss/toolkit';
@import '../../scss/next-toolbox.scss';

.message-callout.-dynamic-right {
  @include media($medium) {
    position: absolute;
    left: 144px;
    width: 180px;
  }

  @include media($large) {
    width: 300px;
  }
}

.message-callout.-right {

  @include media($larger) {
    width: 45%;
    margin-left: 10px;
    float: right;
  }

  @include media($small) {
    text-align: center;
  }

  .message-callout__copy::before {
    @include media($larger) {
      transform: none;
    }


    transform: rotate(270deg);
  }
}
