@import '../../scss/next-toolbox';

@include media($medium) {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .flex__cell {
    display: flex;
    flex: 1;

    &.-full {
      flex: 0 0 100%;
    }

    &.-one-third {
      flex: 0 0 33.3333333333333%;
    }

    &.-two-thirds {
      flex: 0 0 66.6666666666666%;
    }
  }
}
