@import '../../scss/next-toolbox.scss';

.markdown {

  h1, h2, h3, p {
    color: inherit;
  }

  &.is-success {
    color: $success-color;
  }

  // Code blocks can be used for pre-formatted text.
  code {
    font-family: $font-proxima-nova;
    font-size: $font-regular;
    display: block;
  }

  pre, blockquote {
    position: relative;
    margin: $base-spacing 0;

    p, ul, code {
      margin-left: $base-spacing;
    }

    &:before {
      content: '';
      height: 110%;
      left: 0;
      top: -5%;
      width: 4px;
      background: $primary-color;
      position: absolute;
    }
  }

  strong, a {
    font-weight: 700;
  }

  h3 {
    font-family: $primary-font-family;
    font-size: 22px;
  }
}
