@import '../../scss/next-toolbox.scss';

.markdown {

  h1, h2, h3, p {
    color: inherit;
  }

  // Overriding rules in Forge, we'll eventually address this better.
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p,
  p + p,
  p + ul,
  p + ol,
  ul + p,
  ul + ul,
  ul + ol,
  ol + p,
  ol + ol,
  ol + ul {
    margin-top: $half-spacing;
  }

  &.is-success {
    color: $success-color;
  }

  // Code blocks can be used for pre-formatted text.
  code {
    font-family: $font-proxima-nova;
    font-size: $font-regular;
    display: block;
  }

  pre, blockquote {
    position: relative;
    margin: $base-spacing 0;

    p, ul, code {
      margin-left: $base-spacing;
    }

    &:before {
      content: '';
      height: 110%;
      left: 0;
      top: -5%;
      width: 4px;
      background: $primary-color;
      position: absolute;
    }
  }

  strong, a {
    font-weight: 700;
  }

  h2, h3 {
    font-family: $primary-font-family;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  table {
    background-color: $white;
    margin: $base-spacing 0;
    table-layout: fixed;
  }

  th {
    font-weight: 700;
    text-align: center;
  }

  th, td {
    border: 1px solid $light-gray;
    padding: $half-spacing;
    width: 50%;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.footnotes {
  .footnotes-list, .footnote-item p {
    font-size: $font-small;
    color: $med-gray;
  }
}
